.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgba(5, 5, 48, 0.918);
    padding: 10px 0px;

}

.links li{
    display: inline-block;
    margin: 0px 10px;
}
.links a{
    color: rgba(255, 255, 255, 0.829);
    text-decoration: none;
}